.logo img{
    float:left;
    width: 150px;
    height: auto;
    padding-left: 50px;
    padding-top: 50px;
}
.name{
    background-image: url(../images/two\ color.jpg);
    background-size:cover;
    background-repeat:repeat;
  
    height:150vh;
    background-position:repeat;
   
}
.navbar{
  
    float:right;
    margin-top: 25px;
font-size: large;
    padding-right:25px;
    
  
  }
  
  .navbar_item{
    display: inline-block;
  }
  .navbar_item a{
    color:teal;
  }
  .navbar_item a:hover{
    background-color:lawngreen;
  border-radius: 30px;
  
  }
 h1{
     margin-top: 0;
     text-align: center;
     color:darkred;
 }
  form{
    padding-top:10px;
  margin:0 auto;
  width:450px;
  border-style: groove;
  border-color: black;
  background-color: black;
  color:white;
  
  }
  .contact{
    font-size: x-large;
    padding-top: 25px;
    color:orangered;
    text-align: center;
    padding-right: 25px;;
}

  label span{
      display:inline-block;
      text-align: left;
      width:120px;
  }
  label abbr,p abbr{
      color:red;
  }
  p{
      color:white
  }
  input,textarea{
font: sans-serif;
width:250px;
box-sizing: border-box;
border:1px solid;
  }
  textarea{
      vertical-align: top;
      resize: vertical;
      width:300px;
  }
  #Qualification{
  
  width:450px;
  box-sizing: border-box;
  margin-left:0px;
  border:1px solid;
  }
  
  .block{
    display: block;
    width: 75%;
   
   border-radius: 1px;
    background-color:darkgreen;
    border-style: groove;
    padding: 14px 28px;
    font-size: 18px;
    color:ivory;
    cursor: pointer;
    margin-left: 50px;
  }