.logo img{
    float:left;
    width: 150px;
    height: auto;
    padding-left: 50px;
    padding-top: 50px;
}
.name{
    background-image: url(../images/image\ 2.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    background-position: center;

}

.navbar{
  
    float:right;
    margin-top: 25px;

    padding-right:25px;
    
  
  }
  .navbar_item{
    display: inline-block;
  }
  h1{
    text-align: center;
      padding-top:150px;
      padding-right: 75px;
      color:indigo;

      font-size: xx-large;
  }
 
  .project_list{
      font-size: x-large;
      color:firebrick;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main{
  text-align: center;
  font-size: x-large;
  padding-top: 100px;

}