.title2{
    color:red;
    font-size: x-large;
    
    text-align:center;
    padding-right:75px;
    padding-top:25px;
}

.name{
    background-image: url(../images/two\ color2.jpg);
    background-size: cover;
    background-repeat: repeat;
    height:100vh;
    width:100%;
    background-position: center;
}
.logo img{
  float:left;
  width: 150px;
  height: auto;
  padding-left: 50px;
  padding-top: 50px;
}
#main{
    font-size: medium;
    color:black;
    text-align:left;
    padding-right:50px;
    padding-top:25px;

    
}
.navbar{
  
    float:right;
    margin-top: 25px;
font-size: large;
    padding-right:25px;
    
  
  }
  .navbar_item{
    display: inline-block;
  }
  .navbar_item a{
    color:black;
  }
  .navbar_item a:hover{
    background-color:green;
  border-radius: 30px;
  
  }
#first{
    font-size: x-large;
    color:navy;
   
    
    padding-top:150px;
   
    padding-left:300px;
    float:left;

}
#text{
    font-size: x-large;
    color:navy;
   /* text-align: center;*/
   padding-right: 100px;
   padding-top:150px;
    float:right;
    
}


