
.header{
 background-image: url(../images/two\ color.jpg);
background-repeat: repeat;
  height:100%;
  background-size: cover;
  background-position:center;
  
}
#vishpic img{
  margin-left:auto;
  margin-right:auto;

  height:200px;
  width:200px;
  border-radius:600px;
border: 1px solid black;
}
.navbar{
  
  float:right;
  margin-top: 25px;
  padding-right: 25px;
  font-size: large;


}
.navbar_item{
  display: inline-block;
 
}
.navbar_item a{
  color:black;
}
.navbar_item a:hover{
  background-color:green;
border-radius: 30px;

}
.logo img{
  float:left;
  width: 150px;
  height: auto;
  padding-left: 50px;
  padding-top: 50px;
}
.title{
    color:black;
    font-size: x-large;
    text-align: center;
    padding-top: 100px;
}
.metadata
{
  text-align: center;
  color:black;
  padding-top: 20px;
  font-size: large;
  font-style:normal;

}
.title2{
  color:cyan;
  font-size:x-large;
}
ul{
  font-size: x-large;
}
#intro{
  color:darkblue;
  font-size: x-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.social{
  font-size: x-large;
  text-align: center;
  padding-left:25px;
  display:inline-block;
  padding-left:120px;
  
}

