
.header{
 background-image: url(../images/image\ 2.jfif);
background-repeat: repeat;
  height:110vh;
  background-size: cover;
  background-position:center;
}

.navbar{
  
  float:right;
  margin-top: 25px;
  padding-right: 25px;

}
.navbar_item{
  display: inline-block;
}

.logo img{
            float:left;
            width: 150px;
            height: auto;
            padding-left: 50px;
            padding-top: 50px;
}
.title{
    color:darkblue;
    font-size: x-large;
    text-align: center;
    padding-top: 200px;
}
.metadata
{
  text-align: center;
  color:blue;
  padding-top: 50px;
  font-size: x-large;
  font-style:normal;

}
.title2{
  color:lawngreen;
  font-size:x-large;
}
ul{
  font-size: x-large;
}
#intro{
  color:darkred;
  font-size: x-large;
}
.social{
  font-size: x-large;
  text-align: center;
  padding-left:25px;
  display:inline-block;
  padding-left:120px;
  
}
